

<mat-card>
    <b><span>Manage Users</span></b>
    <button mat-flat-button color="primary" class="float-right" (click)="handleAddAction()">
        <mat-icon>add_circle</mat-icon> Add User
    </button>
</mat-card>
<hr>
<mat-card>
    <mat-form-field appearance="standard">


       
          <mat-label>Select an option</mat-label>
  <mat-select [(value)]="isSelected">
    <mat-option>None</mat-option>
    <mat-option value="name">firstname</mat-option>
    <mat-option value="email">email</mat-option>
    <mat-option value="contactNumber">contact Number</mat-option>
  </mat-select>

        
 
      
    </mat-form-field>
    <mat-label>Search</mat-label>

<input matInput placeholder="firstName" *ngIf="isSelected == 'name'" (ngModelChange)="searchCooptCriteriaBuilderFirstName($event)" #firstName="ngModel" ngModel >
<input matInput placeholder="email"  *ngIf="isSelected == 'email'"  (ngModelChange)="searchByemailCriteria($event)" #email="ngModel" ngModel >
<input matInput placeholder="contactNumber" *ngIf="isSelected == 'contactNumber'"  (ngModelChange)="searchBycontactNumber($event)" #contactNumber="ngModel" ngModel >
  
</mat-card>




<hr>
<div class="responsive_table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element">{{element.email}}</td>
        </ng-container>

        <ng-container matColumnDef="contactNumber">
            <th mat-header-cell *matHeaderCellDef>Contact Number</th>
            <td mat-cell *matCellDef="let element">{{element.contactNumber}}</td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element" class="action-link">
                <button mat-icon-button color="primary" matTooltip="Edit" (click)="handleEditAction(element)">
                    <mat-icon>edit</mat-icon>
                   </button>
    
                   <button mat-icon-button color="primary" matTooltip="Delete" (click)="handleDeleteAction(element)">
                    <mat-icon>delete</mat-icon>
                   </button>
             <mat-slide-toggle (change)="onChange($event.checked,element.id)" matTooltip="Activate or Deactivate User" [checked]="element.status">

             </mat-slide-toggle>
            </td>
        </ng-container>


        

        <tr mat-header-row *matHeaderRowDef="dispalyedColumns;sticky:true"></tr>
        <tr mat-row *matRowDef="let row;columns:dispalyedColumns;"></tr>

    </table>

</div>
