
<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span>{{dialogData.action}} User</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
    </mat-toolbar-row>
</mat-toolbar>



<mat-dialog-content class="mat-typography">
    <form [formGroup]="userForm">
        <div fxFlex fxLayout="column">
            <div fxLayout="row wrap">
                <mat-form-field appearance="standard" fxFlex>
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" required>
                    <mat-error *ngIf="userForm.controls.name.touched && userForm.controls.name.invalid">
                        <span *ngIf="userForm.controls.name.errors.required">This field is required </span>
                    </mat-error>
                </mat-form-field>

                </div>

               
             <div fxLayout="row wrap">
                <mat-form-field appearance="standard" fxFlex>
                    <mat-label>email</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-error *ngIf="userForm.controls.email.touched && userForm.controls.email.invalid">
                        <span *ngIf="userForm.controls.email.errors.required">This field is required </span>
                    </mat-error>
                </mat-form-field>

              
            </div>

            <mat-form-field appearence="standard" fxFlex>
                <mat-label>Password </mat-label>
                <input matInput formControlName="password" type="password" required [type]="hide ? 'password' : 'text'">
                <button type="button" mat-icone-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{ hide ? 'visibility_off':'visibility' }}</mat-icon>
                </button>
                <mat-error *ngIf="userForm.controls.password.touched && userForm.controls.password.invalid">
                    <span *ngIf="userForm.controls.password.errors.required">this field is required</span>
                </mat-error>
            </mat-form-field>


            

                <div fxLayout="row wrap">
                    <mat-form-field appearance="standard" fxFlex>
                        <mat-label>Contact Number</mat-label>
                        <input matInput formControlName="contactNumber" required>
                        <mat-error *ngIf="userForm.controls.contactNumber.touched && userForm.controls.contactNumber.invalid">
                            <span *ngIf="userForm.controls.contactNumber.errors.required">This field is required </span>
                        </mat-error>
                    </mat-form-field>
    
                    </div>


        </div>
    </form>
</mat-dialog-content>


<mat-dialog-actions  align="end">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()" [disabled]="!(userForm.valid && userForm.dirty)">
        <mat-icon>save</mat-icon> {{action}}
    </button>

    <button mat-raised-button color="warn" mat-dialog-close><mat-icon>cancel</mat-icon> Close</button>
</mat-dialog-actions>